# üß† Notebook 01: Lists, Dicts, Tuples, and Sets (Oh My!)

Welcome, data tamer. Before we dance with DataFrames and juggle Series, we must revisit the sacred scrolls of Python's core data structures.

In this notebook, you will:
- Recap the mighty `list`, `dict`, `tuple`, and `set`
- Learn what makes each special (besides being annoying to explain at parties)
- Practice slicing, accessing, and modifying them
- Build up intuition for working with structured data

---

## üß∫ Lists
`list`: Ordered, mutable, and basically the cargo pants of Python.

In [1]:
fruits = ["apple", "banana", "cherry", "dragonfruit"]
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

fruits.append("elderberry")
print("Updated list:", fruits)

First fruit: apple
Last fruit: dragonfruit
Updated list: ['apple', 'banana', 'cherry', 'dragonfruit', 'elderberry']

## üîê Tuples
`tuple`: Like lists, but committed ‚Äî they don‚Äôt change. Perfect for fixed data.

In [3]:
coordinates = (34.05, -118.25)  # Latitude, Longitude
print("Coordinates:", coordinates)

# Uncomment this to see Python throw a tantrum
coordinates[0] = 0

Coordinates: (34.05, -118.25)

TypeError: 'tuple' object does not support item assignment

## üì¶ Dictionaries
`dict`: Key-value pairs. Like JSON, but with fewer quotation marks and more sarcasm.

In [4]:
student = {
    "name": "Alice",
    "GPA": 3.9,
    "major": "Data Science"
}

print("Student name:", student["name"])
print("GPA using .get():", student.get("GPA"))

student["minor"] = "Philosophy"
print("Updated dictionary:", student)

Student name: Alice
GPA using .get(): 3.9
Updated dictionary: {'name': 'Alice', 'GPA': 3.9, 'major': 'Data Science', 'minor': 'Philosophy'}

## üéØ Sets
`set`: Unordered, unique values only. Great for removing duplicates or doing cool mathy stuff.

In [5]:
courses = {"CS101", "CS102", "CS103", "CS101"}  # Duplicate ignored
print("Courses:", courses)

print("Is CS102 in the set?", "CS102" in courses)

courses.add("CS104")
courses.discard("CS101")
print("Modified courses:", courses)

Courses: {'CS103', 'CS102', 'CS101'}
Is CS102 in the set? True
Modified courses: {'CS103', 'CS102', 'CS104'}

---
## üß∞ Your Turn

1. Create a list of your top 5 favorite foods. Print the last item using a negative index.
2. Create a dictionary that maps student names to GPA (be kind). Add a new student.
3. Make a tuple of the days of the week. Try to change one. Document what happens.
4. Create a `set` of course names. Add a duplicate. Reflect on how sets feel about duplicates.

üéØ **Bonus**: Use a list comprehension to build a list of all squares from 1‚Äì20.

In [ ]:
# Your brilliant code goes here!

In [6]:
# list of top 5 favorite foods.
foods = ["beef", "chicken", "strawberries", "ice cream", "sweet potatoes"]
print(foods[-1])

sweet potatoes

In [9]:
# dictionary to map student's name to GPA.
students = {"Ethan": 3.6,
            "Bob": 3.2
           }
print(students)
students["Tim"] = 3.8
print(students)

{'Ethan': 3.6, 'Bob': 3.2}
{'Ethan': 3.6, 'Bob': 3.2, 'Tim': 3.8}

In [10]:
# tuple for the days of the week.
days = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
print(days)

days[0] = "Funday"

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

TypeError: 'tuple' object does not support item assignment

In [11]:
# set of course names.
courses = {"CS1", "CS2", "OOP", "Discrete", "CS1"}
print(courses)

# duplicates are not added.

{'CS2', 'CS1', 'Discrete', 'OOP'}

In [12]:
# list comprehension for squares from 1-20.

squares = [x**2 for x in range(1,21)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

---
## üßº Why This Matters

Before we start feeding `.csv` files into Pandas like a malfunctioning vending machine, we need to truly *feel* how data is structured. These built-in types help shape, store, and manipulate everything we‚Äôll touch from here on.

Next up? Pandas `Series` and `DataFrames`. Buckle up.